{{!-- {{#each this}} --}}
<div class='country-info-box'>
  <img class='country-img' src={{flag}} alt='flag'width="50"height='40' />
  <p class='country-name'>{{name}}</p>
</div>
<ul class='country-info-list'>
  <li class='country-info-item'>
    <p class='country-info-point'>Capital:</p>
    <span class="country-info-text">{{capital}}</span>
  </li>
  <li class='country-info-item'>
    <p class='country-info-point'>Population:</p>
    <span class="country-info-text">{{population}}</span>
  </li>
  <li class='country-info-item'>
    <p class='country-info-point'>Languages:</p>
   <span class="country-info-text">{{lang}}</span>
  </li>
</ul>
{{!-- {{/each}} --}}